/* ## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) */





.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url(../images/bg-pattern-top-desktop.svg);
  background-image: norepeat;
  background-size: container;
  margin: 0 auto;
  font-family: League Spartan;
  font-size: 15px;
  font-weight: 400;
}

main {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  width: 80%;
  color: hsl(300, 43%, 22%);
}

.presentacion {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5dvh;
}

.titulo {
  font-size: 4dvw;
  font-weight: 700;
  width: 40dvw;
}

.parrafo-titulo {
  font-size: 1.4dvw;
  width: 40dvw;
  margin-top: -5%;
}

.references {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.individual-referenc {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: hsl(300, 24%, 96%);
  border-radius: .375rem;
  font-weight: bold;
  font-size: 1.2dvw;
  height: 20%;
}

.ref-one {
  position: absolute;
  top: 20%;
  left: 0;
}

.ref-two {
  position: absolute;
  top: 45%;
  left: 10%
}

.ref-three {
  position: absolute;
  top: 70%;
  right: 0%
}

.estrellas {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 4%;
}

.icono-estrella {
  display: flex;
  width: 1.3dvw;
}

.compradores {
  position: relative;
  display: flex;
  width: 100%;
  height: 40dvh;
  color: hsl(0, 0%, 100%);
}

.opinion-compradores {
  background-color: hsl(300, 43%, 22%);
  width: 26%;
  padding: 2%;
  border-radius: .375rem;
  gap: 10%
}

.avatar {
  border-radius: 50%;
  width: 13%;
}

.avatar-nombre {
  display: flex;
  align-items: center;
  gap: 5%;
}

.buyer-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4 {
  margin-top: 3dvh;
  margin-bottom: -2dvh;
  font-size: 1dvw;
  font-weight: 700;
}

h5 {
  color: hsl(333, 80%, 67%);
  margin-top: 3dvh;
  font-size: 1dvw;
  font-weight: 400;
}

.comentarios-compradores {
  font-size: 1.2dvw;
}

.review-one {
  position: absolute;
  top: 0;
  left: 0;
}

.review-two {
  position: absolute;
  top: 10%;
  left: 35%;
}

.review-three {
  position: absolute;
  top: 20%;
  right: 0%;
}

/* ------------------------ MOBILA 375px ------------------------ */

@media(max-width:375px) {
  main {
    display: flex;
    flex-direction: column;

  }

  .presentacion {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5dvh;
  }
}